@import "compass/css3";

$oicons-prefix: '' !default;

$glyphs: (<% glyphs.forEach(function (glyph, idx) { %>
  <%= glyph %>: '\<%= codepoints[idx] %>',<% }); %>
);

// Shortcut to add font-face definition
@mixin icon-font-face {
  @include font-face(
    '<%= fontBaseName %>', font-files(
      "#{$oicons-prefix}<%= fontFilename %>.eot",
      "#{$oicons-prefix}<%= fontFilename %>.ttf",
      "#{$oicons-prefix}<%= fontFilename %>.woff"));
}

// Base styles for all icons
@mixin icon-base {
  // Typography
  font-family: "<%= fontBaseName %>";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  text-transform: none;

  // Basic geometry
  display: inline-block;
  speak: none;
  vertical-align: middle;

  // Text rendering settings
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:before {
    line-height: 1;
    vertical-align: baseline;
  }

  & ~ * {
    vertical-align: middle;
  }
}

// Mixin for a single icon
@mixin icon($name) {
  &:before {
    content: map-get($glyphs, $name);
  }
}

// Shortcut to add all icon classes
@mixin icon-classes {
  .<%= baseClass %> {
    @include icon-base;
  }

  @each $name in map-keys($glyphs) {
    .<%= classPrefix %>#{$name} {
      @include icon($name);
    }
  }
}

/*
 * <%= fontFilename %>
 */
